.carousel {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 8px;
    width: 30%;
    height: auto; /* Ajuste a altura conforme necessário */
    margin-left: 50%;
    transform: translateX(-50%);
    
  }
  
  .carousel-container {
    position: relative;
    width: 100%;
    height: 90%;
  }
  
  .carousel-track {
    display: flex;
  }
  
  .carousel-slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: none; /* Oculta todos os slides por padrão */
    border-radius: 10px;
  }
  
  .carousel-slide.active {
    display: block; /* Exibe apenas o slide ativo */
  }
  
  .carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorcer */
    display: block;
    border-radius: 10px;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }
  
  .carousel-button:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  